$bistre: #42291a;
$gold-tan: #e7b88d;
$lavender: #b0aeff;
$light-teal: #aeedff;
$burlywood: #deb886;
$coffee: #764a34;
$lilac: #e9cafd;
$dark-purple: #12055c;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap');